<p class="title is-2">Gruppen</p>

<table class="table is-fullwidth is-striped is-hoverable">
  <tbody>
  <% @groups.each do |group| %>
    <tr>
      <td><%= link_to group.name, group_path(group) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
