<% title Fileclip.model_name.human(count: 2) %>

<p class="title is-2"><%= yield :title %></p>

<div class="tabs is-boxed">
  <ul>
  </ul>
</div>

<%= render partial: 'fileclips/categories', object:  @categories %>
