<p class="title is-2">Genossenschaften</p>

<table>
  <% @cooperatives.each do |cooperative| %>
    <tr>
      <td><%= link_to cooperative.name, cooperative_path(cooperative) %></td>
      <td><a href="mailto:<%= cooperative.email %>"><%= cooperative.email %></a></td>
    </tr>
  <% end %>
</table>
