<p class="title is-2">Genossenschaften</p>

<%= map(:center => {
    :latlng => [51.100, 10.360],
    :zoom => 6
  },
  :markers => @markers
) %>

<table class="table is-fullwidth is-striped is-hoverable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Addresse</th>
    </tr>
  </thead>
  <tbody>
  <% @cooperatives.each do |cooperative| %>
    <tr>
      <td><%= link_to cooperative.name, cooperative_path(cooperative) %></td>
      <td><%= cooperative.address %></td>
    </tr>
  <% end %>
  </tbody>
</table>
