// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;
//= require activeadmin_addons/all

$primary-color: #ffa600;

// Active Admin's got SASS!
@import "active_admin/mixins";
// @import "active_admin/base";
@import "arctic_admin/base";

body.logged_in.new .input select, body.logged_in.edit .input select, body.logged_in.create .input select, body.logged_in.update .input select {
    height: initial;
}

.selected-list-container {
    width: 50%;
}

.header .site_title #site_title_image {
    max-width: 100%;
    max-height: 100%;
}
