/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require leaflet
 */

@import "sass/utilities/functions"
@import "bulma-settings.sass"
@import "sass/utilities/_all"
@import "sass/base/_all"
@import "sass/elements/_all"
@import "sass/components/_all"
@import "sass/grid/_all"
@import "sass/layout/_all"

#map
    min-height: 600px
    height: 50vh
    margin-bottom: 2em

#error_explanation
    margin: 2em 0 2em

.navbar
    box-shadow: $box-shadow

a, .button
    transition: 300ms

footer
    box-shadow: $box-shadow
    padding: 2em 0 3em
//     background: linear-gradient(to bottom right, $primary, lighten($primary, 10))
//     color: $white

//     a
//         color: $white

.filecategories
    .column
        margin-bottom: 2em
a.card
    display: block
    &:hover
        color: $primary
        .card-header-title
            color: $primary
        border-color: $primary
        box-shadow: 0 2px 3px rgba($primary, 0.1), 0 0 0 1px rgba($primary, 0.1)
        .card-header
            box-shadow: 0 1px 2px rgba($primary, 0.1)
.card-content
    display: block
