#customer-data-table
    table
        table-layout: fixed
        col
            min-width: 200px
            &.is-inactive
                visibility: collapse
                width: 0
        td
            &.is-inactive
                width: 0

    .table-container
        padding: 1em 0
        overflow-x: scroll

    .selectors
        .tag
            font-size: $size-8
            cursor: pointer

    .scroller
        height: 1em
        width: 100%
        overflow-x: scroll
        overflow-y: hidden
        & > div
            height: 1px
            width: 2000px
