// Typography
@font-face
  font-family: 'Archivo Narrow'
  src: font-url('ArchivoNarrow-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'Archivo Narrow'
  src: font-url('ArchivoNarrow-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal
$font:              'Archivo Narrow', sans-serif, Arial, Helvetica
$family-primary:    $font
$family-sans-serif: $font
$family-monospace:  monospace
$family-code:       $family-monospace
$render-mode:       optimizeLegibility

// Color Scheme
$yellow:       #fab41a
$orange:       #f4950c
$white:        #ffffff
$grey-light:   #878787
$grey-middle:  #b2b2b2
$grey-dark:    #575756
$black:        #231F20
$danger:       #ea6359

// General derived colors
$primary:   $yellow
$secondary: $orange
$light:     $grey-light
$grey:      $grey-middle
$dark:      $grey-dark

$primary-invert:    $black
$secondary-invert:  $black
$white-invert:      $dark
$light-invert:      $black
$grey-invert:       $white
$dark-invert:       $white
$black-invert:      $white
$danger-invert:     $white

$gradient: linear-gradient(to bottom right, $yellow, $orange)
$shiny-gradient: linear-gradient(135deg, #fab41a 0%,#fab41a 40%,#f49503 60%,#f49503 100%)

$colors: ("white":($white, $white-invert),"light":($light, $light-invert),"grey":($grey, $grey-invert),"dark":($dark, $dark-invert),"black":($black, $black-invert),"primary":($primary, $primary-invert),"secondary":($secondary, $secondary-invert),"danger":($danger, $danger-invert))

// General semantic colors
$background:         $white

$border:             $light
$border-hover:       $light

$text:               $dark
$text-strong:        $dark
$text-light:         $grey
$text-invert:        $white

$link:               $primary
$link-invert:        $primary-invert
$link-visited:       $primary
$link-hover:         $dark
$link-hover-border:  $light
$link-focus:         $dark
$link-focus-border:  $primary
$link-active:        $dark
$link-active-border: $dark

$title-color:        $primary
$subtitle-color:     $grey

$input-color:        $dark

// Sizes
$size-1: 4rem
$size-2: 2.2rem
$size-3: 2rem
$size-4: 26px
$size-5: 20px
$size-6: 17px
$size-7: 0.75rem

$size-small:  $size-7
$size-normal: $size-6
$size-medium: $size-5
$size-large:  $size-4

$body-size:     $size-normal
$title-size:    $size-large
$subtitle-size: $size-medium

$title-line-height:           28.6px
$subtitle-line-height:        22px
$body-line-height:            24.28px
$content-heading-line-height: 22px

// Weights
$weight-light:    normal
$weight-normal:   normal
$weight-medium:   normal
$weight-semibold: bold
$weight-bold:     bold

$body-weight:     $weight-normal
$title-weight:    $weight-bold
$subtitle-weight: $weight-normal

// Layout sizes
$gap:        32px
$tablet:     769px
$desktop:    916px + (2 * $gap)
$widescreen: 916px + (2 * $gap)
$fullhd:     916px + (2 * $gap)

$radius:        2px
$radius-small:  0px
$radius-large:  3px
$box-radius:    $radius

// Layout various
$box-shadow:       0 0 0 1px rgba($black, 0.1)
$easing:           ease-out
$speed:            120ms
$variable-columns: true

//// COMPONENTS
$navbar-background-color: $dark
$navbar-height:           1.4rem

$footer-background-color: $dark
$footer-padding:          3rem 1.5rem 6rem

$table-head-cell-border-width: 0 0 1px

$control-radius:       $radius-small
$control-radius-small: $radius-small

$input-shadow:                none
$input-border-color:          $light
$input-background-color:      $white
$input-focus-box-shadow-size: 0
