<div class="field">
  <p class="control has-icons-left">
    <span class="icon is-small is-left">
      <i class="fas fa-search"></i>
    </span>
    <input type="search" class="input table-filter" data-table="is-filterable" placeholder="Filter" />
  </p>
</div>
